body {
	width: 100%;
	text-align: center;
	background-image: url('images/cheese-aseprite/background-tile-pale.png')
}

h1 {
	font-family: 'Metamorphous';
	font-size: 50px;
	color: #2c2445;
	text-shadow: 0 0 10px #550055;
}

#ressources {
	background-color: rgba(255,255,255,0.5);
	font-family: "Roboto Slab";
}

#ressources > span {
	font-family: "Roboto Mono";
}

#cheeseBtn {
	background: none;
	border: none;
}

#cheeseBtn:hover {
	transform: scale(1.02);
	cursor: pointer;
}