body {
	width: 100%;
	text-align: center;
	background-color: #a8adb4;
	/*background-image: url('images/cheese-aseprite/background-tile-pale.png');*/
	font-family: "Roboto Slab";
}

#gameboard {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#fromana {
	background-color: rgba(150,150,150,0.5);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 25vw;
}


#fm {
	font-family: "Roboto Mono";
}

#cheeseBtn {
	background: none;
	border: none;
}

#cheeseBtn:hover {
	transform: scale(1.02);
	cursor: pointer;
}
